{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    <section class="container mt-5">
        {% image self.blog_image width-1500 as blog_img %}
        <div class="jumbotron"
            style="background-image: url('{{ blog_img.url }}'); background-size: cover; background-position: center center; height: 30rem;">
        </div>
        <h1 class="text-center">{{ self.title }}</h1>
        <!-- <div class="col-md-4">
            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
        </div> -->
        {{self.custom_title}}
        
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
            

        <p class="mt-5 pt-5"><a href="{{ self.get_parent.url }}">Return to blog</a></p>

        <div class="mt-3 mb-3">{{ self.text|richtext }}</div>

        <p><a href="{{ self.get_parent.url }}">Return to blog</a></p>



        
        {% include 'streams/tags.html' %}
        {% include 'streams/category.html' %}
            
            
    </section>
{% endblock content %}
    